In [2]:
import pandas as pd

In [5]:
# Series
values = [10, 20, 30, 40]
s = pd.Series(values, index=['a', 'b', 'a', 'd'])
s.loc['a']

a    10
a    30
dtype: int64

In [6]:
# Data frame
df = pd.DataFrame({
    "name": ["Alice", "Bob", "Charlie", "Diana", "Ethan"],
    "age": [24, 30, 35, 28, 40],
    "city": ["Tbilisi", "Batumi", "Kutaisi", "Rustavi", "Zugdidi"],
    "score": [88, 92, 79, 85, 95]
})

df = df.set_index('name')
# same es df.set_index('name', inplace=True)
df

         age     city  score
name
Alice     24  Tbilisi     88
Bob       30   Batumi     92
Charlie   35  Kutaisi     79
Diana     28  Rustavi     85
Ethan     40  Zugdidi     95

In [7]:
df = df.reset_index()

In [ ]:
df.to_csv('mydata.csv', index=None)

In [ ]:
df.to_json('myjson.json')

In [ ]:
df.to_dict()